<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>category_write</title>
    <link rel="stylesheet" href="/css/admin_category_write.css">
    <script type="text/javascript" src="/js/admin_category_write.js"></script>
</head>

<body>
    <div id="wrap">
        {% include "../layout/admin_top.html" %}

        <!--category_write start-->
        <div id="content">
            <div id="listLayer">
                <div id="listPage">
                    <h2>카테고리 Write</h2>
                    <div id="listBox">
                        <form id="submitWri" method="POST" action="/admin/category/add_success">
                            <table>
                                <colgroup>
                                    <col width="10%">
                                    <col width="90%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>카테고리명</th>
                                        <td><input id="title" type="text" name="subject" required></td>
                                    </tr>
                                    <tr>
                                        <th>보임/숨김 설정</th>
                                        <td>
                                            <input type="radio" name="show" value="1" required><span>보임</span>
                                            <input type="radio" name="show" value="0" required><span>숨김</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <button type="submit" id="writeBtn">작성완료</button>
                                <button type="button" id="backBtn"
                                    onclick="location.href='http://localhost:3000/admin/category'">취소</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!--category_write end-->

    </div>
</body>

</html>