<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ_list</title>
    <link rel="stylesheet" href="/css/admin_faq_list.css">
    <script type="text/javascript" src="/js/admin_faq_list.js"></script>
</head>

<body>
    <div id="wrap">
        {% include "../layout/admin_top.html" %}
        
        <!--FAQ_list start-->
        <div id="content">
            <div id="listLayer">
                <div id="listPage">
                    <h2>FAQ List</h2>
                    <div id="searchBox">
                        <ul>
                            <form id="srcForm" method="post" action="/admin/faq/search">
                                <li>
                                    <span>제목</span>
                                    <input id="title" type="text" name="title">
                                </li>
                                <li>
                                    <span>카테고리</span>
                                    <select name="category" id="srcCategory">
                                        <option value="">선택</option>
                                        {% for item in totalCtg %}
                                        <option class="ctgFaq" value="{{item.id}}">{{item.subject}}</option>
                                        {% endfor %}
                                    </select>
                                    <script type="text/javascript">
                                        let ctgFaq = document.querySelectorAll('.ctgFaq');
                                        for (let i = 0; i < ctgFaq.length; i++) {
                                            if (ctgFaq[i].value == {{ category }}
                                        }) {
                                            ctgFaq[i].selected = true;
                                        }
                                        // else{ctgDft.selected = true }
                                    }
                                    </script>
                                </li>
                                <li>
                                    <span>숨김여부</span>
                                    <select name="show" id="srcShow">
                                        {% if show == '1' %}
                                        <option value="">선택</option>
                                        <option value="1" selected>보임</option>
                                        <option value="0">숨김</option>
                                        {% elif show =='0' %}
                                        <option value="">선택</option>
                                        <option value="1">보임</option>
                                        <option value="0" selected>숨김</option>
                                        {% else %}
                                        <option value="">선택</option>
                                        <option value="1">보임</option>
                                        <option value="0">숨김</option>
                                        {% endif %}
                                    </select>
                                    </select>
                                </li>
                                <li>
                                    <span>등록기간</span>
                                    <input type="date" name="start_date" id="srcStartDate" value="{{start_date}}">
                                    <span>~</span>
                                    <input type="date" name="end_date" id="srcEndDate" value="{{end_date}}">
                                </li>
                            </form>
                            <li>
                                <button type="button" id="srcBtn">검색</button>
                            </li>
                        </ul>
                        <div id="btnGroup_right">
                            <input type="checkbox" id="selAll"><span>전체 선택</span>
                            <button type="button" id="addBtn">새 글 작성</button>
                            <!-- <button type="button" id="categoryPopup">카테고리 보기</button> -->
                            <button type="button" id="delBtn">선택 삭제</button>
                        </div>
                    </div>
                    <!-- <div id="categoryBox">
                    <div id="categoryList">
                        <h2>카테고리 List</h2>
                        <button type="button" id="close">닫기</button>
                        <form>
                            <div id="categoryAdd">
                                <input type="text">
                                <button type="button" id = "addCtg"><span>추가</span></button>
                            </div>
                            <table>
                                <colgroup>
                                    <col width="40%">
                                    <col width="10%">
                                    <col width="5%">
                                    <col width="5%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>카테고리명</th>
                                        <th>보임/숨김</th>
                                        <th>수정</th>
                                        <th>삭제</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>카테고리명111</td>
                                        <td>
                                            보임
                                        </td>
                                        <td>
                                            <button type="button">수정</button>
                                        </td>
                                        <td>
                                            <button type="button">삭제</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>카테고리명222</td>
                                        <td>
                                            숨김
                                        </td>
                                        <td>
                                            <button type="button">수정</button>
                                        </td>
                                        <td>
                                            <button type="button">삭제</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>카테고리명333</td>
                                        <td>
                                            보임
                                        </td>
                                        <td>
                                            <button type="button">수정</button>
                                        </td>
                                        <td>
                                            <button type="button">삭제</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div> -->
                    <div id="listBox">
                        <form id="selDel" method="POST" action="/admin/faq/delete">
                            <table>
                                <colgroup>
                                    <col width="5%">
                                    <col width="40%">
                                    <col width="20%">
                                    <col width="10%">
                                    <col width="5%">
                                    <col width="5%">
                                    <col width="5%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>번호</th>
                                        <th>제목</th>
                                        <th>카테고리</th>
                                        <th>작성일</th>
                                        <th>보임/숨김</th>
                                        <th>수정</th>
                                        <th>삭제</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if ifEmpty == true %}
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            표시할 데이터가 없습니다.
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    {% else %}
                                    {% for item in faqList %}
                                    <tr>
                                        <td>
                                            <input class="selOpt" type="checkbox" name="selDelItems" value={{item.id}}>
                                            {{item.num}}
                                        </td>
                                        <td>
                                            <a
                                                href="http://localhost:3000/admin/faq/view?id={{item.id}}"><span>{{item.title}}</span></a>
                                        </td>
                                        <td>
                                            {{item.subject}}
                                        </td>
                                        <td>
                                            {{item.registereddate}}
                                        </td>
                                        <td>
                                            {% if item.show == true %}
                                            보임
                                            {% elif item.show == false %}
                                            숨김
                                            {% else %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <button type="button"
                                                onclick="location.href='http://localhost:3000/admin/faq/modify?id={{item.id}}'">수정</button>
                                        </td>
                                        <td>
                                            <button type="button" class="delEach">삭제</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div id="pageBtn">
                        {% if ifEmpty == true %}
                        {% else %}
                        <button type="button" onclick="location.href='/admin/faq/search?id=1&title={{title}}&category={{category}}&show={{show}}&start_date={{start_date}}&end_date={{end_date}}'">&lt;&lt;</button>
                        <button type="button" onclick="location.href='/admin/faq/search?id={{prevBlock}}&title={{title}}&category={{category}}&show={{show}}&start_date={{start_date}}&end_date={{end_date}}'">&lt;</button>
                        {% for item in block_arr %} 
                            {% if page==item %}
                            <button type="button" id="pageNum" style="color:dodgerblue;" onclick="location.href='/admin/faq/search?id={{item}}&title={{title}}&category={{category}}&show={{show}}&start_date={{start_date}}&end_date={{end_date}}'">{{item}}</button>
                            {% else %}
                            <button type="button" id="pageNum" onclick="location.href='/admin/faq/search?id={{item}}&title={{title}}&category={{category}}&show={{show}}&start_date={{start_date}}&end_date={{end_date}}'">{{item}}</button>
                            {% endif %}
                        {% endfor %}
                        <button type="button" onclick="location.href='/admin/faq/search?id={{nextBlock}}&title={{title}}&category={{category}}&show={{show}}&start_date={{start_date}}&end_date={{end_date}}'">&gt;</button>
                        <button type="button" onclick="location.href='/admin/faq/search?id={{total_page}}&title={{title}}&category={{category}}&show={{show}}&start_date={{start_date}}&end_date={{end_date}}'">&gt;&gt;</button>
                        {% endif %}
                    </div>
                </div>
            </div>            
        </div>
        <!--FAQ_list end-->

    </div>
</body>

</html>