<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>interview_list</title>
    <link rel="stylesheet" href="/css/admin_interview_list.css">
    <script type="text/javascript" src="/js/admin_interview_list.js"></script>
</head>

<body>
    <div id="wrap">
        {% include "../layout/admin_top.html" %}
        
        <!--interview_list start-->
        <div id="content">
            <div id="listLayer">
                <div id="listPage">
                    <h2>취업자인터뷰 List</h2>
                    <div id="searchBox">
                        <ul>
                            <form id="srcForm" method="post" action="/admin/interview/search">
                                <li>
                                    <span>교육과정명</span>
                                    <select name="srcid" id="srcId">
                                        <option value="">선택</option>
                                        {% for item in totalCurr %}
                                        <option class="currInt" value="{{item.id}}">{{item.subject}}</option>
                                        {% endfor %}
                                        {% for item in searchCurr %}
                                        <option class="currInt" value="{{item.id}}">{{item.subject}}</option>
                                        {% endfor %}

                                        <script type="text/javascript">
                                            let currInt = document.querySelectorAll('.currInt');
                                            console.log({{ currName }})
                                            for (let i = 0; i < currInt.length; i++) {
                                                if (currInt[i].value == '{{curr_id}}') {
                                                    currInt[i].selected = true;
                                                }
                                                // else{ctgDft.selected = true }
                                            }
                                        </script>

                                    </select>
                                </li>
                                <li>
                                    <span>이름</span>
                                    <input name="name" id="srcName" type="text" value="{{username}}">
                                </li>
                                <li>
                                    <span>숨김여부</span>
                                    <select name="show" id="srcShow">
                                        {% if show == '1' %}
                                        <option value="">선택</option>
                                        <option value="1" selected>보임</option>
                                        <option value="0">숨김</option>
                                        {% elif show =='0' %}
                                        <option value="">선택</option>
                                        <option value="1">보임</option>
                                        <option value="0" selected>숨김</option>
                                        {% else %}
                                        <option value="">선택</option>
                                        <option value="1">보임</option>
                                        <option value="0">숨김</option>
                                        {% endif %}
                                    </select>
                                </li>
                            </form>
                            <li>
                                <button type="button" id="srcBtn">검색</button>
                            </li>
                        </ul>
                        <div id="btnGroup_right">
                            <input type="checkbox" id="selAll"><span>전체 선택</span>
                            <button type="button" id="addBtn">새 인터뷰 작성</button>
                            <button type="button" id="delBtn">선택 삭제</button>
                        </div>
                    </div>
                    <div id="listBox">
                        <form id="selDel" method="POST" action="/admin/interview/delete">
                            <table>
                                <colgroup>
                                    <col width="5%">
                                    <col width="40%">
                                    <col width="10%">
                                    <col width="5%">
                                    <col width="5%">
                                    <col width="5%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>번호</th>
                                        <th>세부내용</th>
                                        <th>이름</th>
                                        <th>보임/숨김</th>
                                        <th>수정</th>
                                        <th>삭제</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if ifEmpty == true %}
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            표시할 데이터가 없습니다.
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    {% else %}
                                    {% for item in interviewList %}
                                    <tr>
                                        <td>
                                            <input class="selOpt" type="checkbox" name="selDelItems" value={{item.id}}>
                                            {{item.num}}
                                        </td>
                                        <td>
                                            <a href="http://localhost:3000/admin/interview/view?id={{item.id}}">
                                                <span>{{item.subject}}</span>
                                                <p>{{item.content}}</p>
                                            </a>
                                        </td>
                                        <td>
                                            {{item.username}}
                                        </td>
                                        <td>
                                            {% if item.show == true %}
                                            보임
                                            {% elif item.show == false %}
                                            숨김
                                            {% else %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <button type="button" onclick="location.href='http://localhost:3000/admin/interview/modify?id={{item.id}}'">수정</button>
                                        </td>
                                        <td>
                                            <button type="button" onclick="location.href='http://localhost:3000/admin/interview/delete?id={{item.id}}'">삭제</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div id="pageBtn">
                        {% if ifEmpty == true %}
                        {% else %}
                        <button type="button" onclick="location.href='/admin/interview/search?id=1&curr_id={{curr_id}}&username={{username}}&show={{show}}'">&lt;&lt;</button>
                        <button type="button" onclick="location.href='/admin/interview/search?id={{prevBlock}}&curr_id={{curr_id}}&username={{username}}&show={{show}}'">&lt;</button>
                        {% for item in block_arr %}  
                            {% if page==item %}
                            <button type="button" id="pageNum" style="color:dodgerblue;" onclick="location.href='/admin/interview/search?id={{item}}&curr_id={{curr_id}}&username={{username}}&show={{show}}'">{{item}}</button>
                            {% else %}
                            <button type="button" id="pageNum" onclick="location.href='/admin/interview/search?id={{item}}&curr_id={{curr_id}}&username={{username}}&show={{show}}'">{{item}}</button>
                            {% endif %}
                        {% endfor %}
                        <button type="button" onclick="location.href='/admin/interview/search?id={{nextBlock}}&curr_id={{curr_id}}&username={{username}}&show={{show}}'">&gt;</button>
                        <button type="button" onclick="location.href='/admin/interview/search?id={{total_page}}&curr_id={{curr_id}}&username={{username}}&show={{show}}'">&gt;&gt;</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!--interview_list end-->

    </div>
</body>

</html>