<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notice_view</title>
    <link rel="stylesheet" href="/css/admin_notice_view.css">
</head>

<body>
    <div id="wrap">
        {% include "../layout/admin_top.html" %}

        <!--notice_view start-->
        <div id="content">
            <div id="listLayer">
                <div id="listPage">
                    <h2>공지사항 View</h2>
                    <div id="listBox">
                        <table>
                            <colgroup>
                                <col width="10%">
                                <col width="90%">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>작성자</th>
                                    <td>최고관리자</td>
                                </tr>
                                <tr>
                                    <th>등록일</th>
                                    <td>{{result.registereddate}}</td>
                                </tr>
                                <tr>
                                    <th>제목</th>
                                    <td>{{result.title}}</td>
                                </tr>
                                <tr>
                                    <th>내용</th>
                                    <td>
                                        <p>{{result.content}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>보임/숨김 설정</th>
                                    <td>
                                        {% if result.show == true%}
                                        보임
                                        {% else %}
                                        숨김
                                        {% endif%}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <button type="button"
                                onclick="location.href='http://localhost:3000/admin/notice/modify?id={{result.id}}'">수정하기</button>
                            <button type="button"
                                onclick="location.href='http://localhost:3000/admin/notice/'">목록으로</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--notice_view end-->

    </div>
</body>

</html>