/* listLyaer > listBox */
#listLayer > #listPage > #listBox{
    width: 100%;
    margin-top: 20px;
}
#listLayer > #listPage > #listBox > form > table{
    width: 100%;
    text-align: center;
    border-top: 3px solid cornflowerblue;
    border-bottom: 3px solid cornflowerblue;
}
#listLayer > #listPage > #listBox > form > table > tbody > tr > th{
    background: blanchedalmond;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}
#listLayer > #listPage > #listBox > form > table > tbody > tr > td{
    padding: 20px 20px;
    font-size: 15px;
    border-bottom: 1px solid #999;
}
#listLayer > #listPage > #listBox > form > table > tbody > tr:last-child > th{
    border-bottom: none;
}
#listLayer > #listPage > #listBox > form > table > tbody > tr:last-child > td{
    border-bottom: none;
}
#listLayer > #listPage > #listBox > form > table > tbody > tr > td:nth-child(2){
    text-align: left;
}
#listLayer > #listPage > #listBox > form > table > tbody > tr > td > #title{
    width: 400px;
    padding: 5px 10px;
}
#listLayer > #listPage > #listBox > form > table > tbody > tr > td > #date{
    width: 140px;
    padding: 5px;
}
#listLayer > #listPage > #listBox > form > table > tbody > tr > td > #text{
    width: 600px;
    height: 300px;
    padding: 10px;
}
#listLayer > #listPage > #listBox > form > table > tbody > tr > td > span{
    margin-left: 5px;
    margin-right: 10px;
}
#listLayer > #listPage > #listBox > form > div{
    margin-top: 20px;
    float: right;
}
#listLayer > #listPage > #listBox > form > div > button{
    margin: 0px 5px;
    padding: 5px 20px;
    font-size: 15px;
}