/* board */
#boardLayer{
    width: 1920px;
    height: 100%;
    padding-top: 56px;
}
#boardLayer > #boardPage{
    width: 100%;
    height: 100%;
    background: #000;
}
#boardLayer > #boardPage > #boardBox{
    width: 1160px;
    height: 100%;
    margin: 0 auto;
    padding: 50px 20px 140px 20px;
}
#boardLayer > #boardPage > #boardBox > h1{
    padding-bottom: 20px;
    font-size: 60px;
    color: #fff;
}
#boardLayer > #boardPage > #boardBox > #content{
    padding: 50px 100px;
    border-top: 1px solid lightgray;
}
#boardLayer > #boardPage > #boardBox > #content > form > #boardOuter{
    width: 960px;
    border-top : 1px solid lightgray;
    border-bottom : 1px solid lightgray;
}
#boardLayer > #boardPage > #boardBox > #content > form > #boardOuter > table{
    width: 100%;
    color: #fff;
    text-align: center;
}
#boardLayer > #boardPage > #boardBox > #content > form > #boardOuter > table > tbody > tr > th{
    width: 200px;
    padding: 10px 0px;
    font-size: 18px;
}
#boardLayer > #boardPage > #boardBox > #content > form > #boardOuter > table > tbody > tr > td{
    text-align: left;
    padding: 20px;
    color: #fff;
}
#boardLayer > #boardPage > #boardBox > #content > form > #boardOuter > table > tbody > tr > td > p{
    margin-bottom: 5px;
    font-size: 14px;
    text-align: left;
}
#boardLayer > #boardPage > #boardBox > #content > form > #btnGroup_center{
    margin-top: 30px;
    text-align: center;
}
#boardLayer > #boardPage > #boardBox > #content > form > #btnGroup_center > button{
    padding: 10px 40px;
    margin: 30px 5px;
    border: 1px solid #007bc6;
    border-radius: 5px;
    color: #fff;
    background: #006fb2;
    cursor: pointer;
}
#boardLayer > #boardPage > #boardBox > #content > form > #btnGroup_center > button:hover{
    border: 1px solid rgb(17, 230, 230);
    filter: brightness(130%);
    transition: 0.5s;
}
#boardLayer > #boardPage > #boardBox > #content > form > #btnGroup_center{
    margin-top: 30px;
    text-align: center;
}
#boardLayer > #boardPage > #boardBox > #content > form > #btnGroup_center > button{
    margin: 30px 5px;
    padding: 10px 40px;
    cursor: pointer;
}
#boardLayer > #boardPage > #boardBox > #content > form > #btnGroup_center > button:first-child{
    border: 1px solid #007bc6;
    border-radius: 5px;
    color: #fff;
    background: #006fb2;
}
#boardLayer > #boardPage > #boardBox > #content > form > #btnGroup_center > button:first-child:hover{
    border: 1px solid rgb(17, 230, 230);
    filter: brightness(130%);
    transition: 0.5s;
}
#boardLayer > #boardPage > #boardBox > #content > form > #btnGroup_center > button:nth-child(2){
    border: 1px solid #007bc6;
    border-radius: 5px;
    color: #007bc6;
    background: #fff;
}
#boardLayer > #boardPage > #boardBox > #content > form > #btnGroup_center > button:nth-child(2):hover{
    color: #fff;
    border: 1px solid rgb(17, 230, 230);
    background: #007bc6;
    filter: brightness(130%);
    transition: 0.5s;
}