<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Introduce</title>
        <link rel="stylesheet" href="/css/introduce.css">
    </head>
    <body>

            {% include "../layout/top.html" %}

            <!--container start-->
            <div class="container" >
                <div class="first_introduce">About 42 SEOUL</div>
                <iframe
                    class="video_1"
                    src="https://www.youtube.com/embed/gaYODx3_7VM"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen="allowfullscreen">
                </iframe>
                <div class="content">
                    <div class="left_content">
                        <div>42 SEOUL은 이노베이션 아카데미
                            소프트웨어 교육프로그램입니다.
                        </div>
                        <div><img src="images/background3.jpg" class="logoimg"></div>
                    </div>
                    <div class="right_content">
                        <div>우리는 세상 모든 곳에 소프트웨어가 사용되는 시대에 살고 있습니다. 생활과 관련된 분야, 경제 활동과 관련된 분야,
                            휴식과 여가에 관련된 분야 등등 사회 모든 분야에서 소프트웨어가 사용되고 있습니다.<br>
                            <br>
                            <br>
                            우리의 삶과 밀접한 관계를 맺고 있는 소프트웨어는 매우 빠르게 변화하고 발전합니다.<br>
                            지금, 이 순간에도 전 세계 곳곳에서 새로운 아이디어와 기술이 등장하고 있습니다.<br>
                            <br>
                            <br>
                            소프트웨어 개발자들은 변화와 발전의 속도에 맞춰 성장하기 위해 부단한 노력을 기울이고 있습니다.
                            자신의 지식과 기술을 오픈소스로 공개하고, 동료의 성장을 위해 본인의 경험을 공유합니다.
                            함께 성장하기 위해 경쟁이 아닌 소통과 협업을 합니다.<br>
                            <br>
                            <br>
                            42 SEOUL은 단순 지식을 가르치는 곳이 아닙니다. 소프트웨어에 대한 경험을 나누는 방법, 멋진 동료와
                            협업하는 방법, 누군가를 위해 본인의 경험을 공유하는 방법을 배웁니다. 그리고 배우는 방법을 배웁니다.<br>
                            <br>
                            <br>
                            최고의 소프트웨어 개발자로 성장할 수 있는 곳, 최고의 동료와 함께 성장할 수 있는 곳, 바로 42 SEOUL입니다.</div>
                    </div>
                </div>
            </div>
            <!--container end-->

    {% include "../layout/bottom.html" %}